.order-container{
    background-color: #F8CECC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #B85450;
    height: 100%;
}

.order-list{
    width: 100%;
}

h4{
    margin-bottom: 50px;
}