.user-detail{
    background-color: #FFF2CC;    
    display: flex;
    border: 1px solid yellow;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px;
    height: 100%;
    position: relative;
    border: 1px solid #D6B656;
}

.user-detail h4{
    position: absolute;
    top: 20px;
}

