.user-container{
    background-color: #DAE8FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px solid #6C8EBF;
    padding: 20px;
}
.user-content{
    display: flex;    
    justify-content: center;
    width: 100%;
    gap: 20px;
    height: 100%;    
}

.user-list{
    width: 100%;    
    height: 100%;
}

.user-detail{    
    width: 80%;    
}

h4{
    margin-bottom: 50px;
}